workspace/ModuloWeb/src/main/resources/wsdl/CCAGENT_AUD.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.wso2.org/dataservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_audit_by_parameters_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="actor" nillable="true" type="xs:string"/>
                        <xs:element name="app" nillable="true" type="xs:string"/>
                        <xs:element name="audit_date" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Entries" type="ns0:Entries"/>
            <xs:complexType name="Entries">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" type="ns0:Entry"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="audit_date" nillable="true" type="xs:dateTime"/>
                    <xs:element name="actor" nillable="true" type="xs:string"/>
                    <xs:element name="app" nillable="true" type="xs:string"/>
                    <xs:element name="event" nillable="true" type="xs:string"/>
                    <xs:element name="result" nillable="true" type="xs:string"/>
                    <xs:element name="detail" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="insert_audit_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="audit_date" nillable="true" type="xs:dateTime"/>
                        <xs:element name="actor" nillable="true" type="xs:string"/>
                        <xs:element name="app" nillable="true" type="xs:string"/>
                        <xs:element name="event" nillable="true" type="xs:string"/>
                        <xs:element name="result" nillable="true" type="xs:string"/>
                        <xs:element name="detail" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="select_audit_by_parameters_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_audit_by_parameters_operation"/>
    </wsdl:message>
    <wsdl:message name="select_audit_by_parameters_operationResponse">
        <wsdl:part name="parameters" element="ns0:Entries"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns0:DataServiceFault"/>
    </wsdl:message>
    <wsdl:message name="insert_audit_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_audit_operation"/>
    </wsdl:message>
    <wsdl:portType name="CCAGENT_AUDPortType">
        <wsdl:operation name="select_audit_by_parameters_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_audit_by_parameters_operationRequest" wsaw:Action="urn:select_audit_by_parameters_operation"/>
            <wsdl:output message="ns0:select_audit_by_parameters_operationResponse" wsaw:Action="urn:select_audit_by_parameters_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_audit_by_parameters_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="insert_audit_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_audit_operationRequest" wsaw:Action="urn:insert_audit_operation"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCAGENT_AUDSOAP11Binding" type="ns0:CCAGENT_AUDPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="select_audit_by_parameters_operation">
            <soap:operation soapAction="urn:select_audit_by_parameters_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_audit_operation">
            <soap:operation soapAction="urn:insert_audit_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CCAGENT_AUDSOAP12Binding" type="ns0:CCAGENT_AUDPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="select_audit_by_parameters_operation">
            <soap12:operation soapAction="urn:select_audit_by_parameters_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_audit_operation">
            <soap12:operation soapAction="urn:insert_audit_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CCAGENT_AUDHttpBinding" type="ns0:CCAGENT_AUDPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="select_audit_by_parameters_operation">
            <http:operation location="select_audit_by_parameters_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert_audit_operation">
            <http:operation location="insert_audit_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CCAGENT_AUD">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:CCAGENT_AUDSOAP11Binding">
            <soap:address location="http://10.2.144.63:9763/services/CCAGENT_AUD.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LOCALSOAP11Endpoint" binding="ns0:CCAGENT_AUDSOAP11Binding">
            <soap:address location="local:///services/CCAGENT_AUD.LOCALSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:CCAGENT_AUDSOAP11Binding">
            <soap:address location="https://10.2.144.63:9443/services/CCAGENT_AUD.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LOCALSOAP12Endpoint" binding="ns0:CCAGENT_AUDSOAP12Binding">
            <soap12:address location="local:///services/CCAGENT_AUD.LOCALSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:CCAGENT_AUDSOAP12Binding">
            <soap12:address location="https://10.2.144.63:9443/services/CCAGENT_AUD.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:CCAGENT_AUDSOAP12Binding">
            <soap12:address location="http://10.2.144.63:9763/services/CCAGENT_AUD.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:CCAGENT_AUDHttpBinding">
            <http:address location="http://10.2.144.63:9763/services/CCAGENT_AUD.HTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:CCAGENT_AUDHttpBinding">
            <http:address location="https://10.2.144.63:9443/services/CCAGENT_AUD.SecureHTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>