workspace/ModuloWeb/src/main/resources/wsdl/CCAGENT_ADM.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.wso2.org/dataservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_users_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_id" nillable="true" type="xs:string"/>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="is_admin" nillable="true" type="xs:boolean"/>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFieldConfigByApp_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="app" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFieldConfigByAppResults" type="ns0:getFieldConfigByAppResults"/>
            <xs:complexType name="getFieldConfigByAppResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="EntrygetFieldConfigByAppResult" type="ns0:EntrygetFieldConfigByAppResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntrygetFieldConfigByAppResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="position" nillable="true" type="xs:integer"/>
                    <xs:element name="app" nillable="true" type="xs:string"/>
                    <xs:element name="identifier" nillable="true" type="xs:string"/>
                    <xs:element name="description" nillable="true" type="xs:string"/>
                    <xs:element name="visible" nillable="true" type="xs:boolean"/>
                    <xs:element name="editable" nillable="true" type="xs:boolean"/>
                    <xs:element name="administrable" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getDirectAccess">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDirectAccessResults" type="ns0:getDirectAccessResults"/>
            <xs:complexType name="getDirectAccessResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="getDirectAccessResult" type="ns0:getDirectAccessResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getDirectAccessResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:string"/>
                    <xs:element name="name" nillable="true" type="xs:string"/>
                    <xs:element name="url" nillable="true" type="xs:string"/>
                    <xs:element name="position" nillable="true" type="xs:integer"/>
                    <xs:element name="description" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="insert_field_config_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="app" nillable="true" type="xs:string"/>
                        <xs:element name="identifier" nillable="true" type="xs:string"/>
                        <xs:element name="description" nillable="true" type="xs:string"/>
                        <xs:element name="visible" nillable="true" type="xs:boolean"/>
                        <xs:element name="editable" nillable="true" type="xs:boolean"/>
                        <xs:element name="administrable" nillable="true" type="xs:boolean"/>
                        <xs:element name="position" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_combinations_keys_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key1" nillable="true" type="xs:string"/>
                        <xs:element name="key2" nillable="true" type="xs:string"/>
                        <xs:element name="key3" nillable="true" type="xs:string"/>
                        <xs:element name="tab" nillable="true" type="xs:string"/>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_combinations_keys_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_field_config_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_combinations_keys_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="combinations_keysCollection" type="ns0:combinations_keysCollection"/>
            <xs:complexType name="combinations_keysCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="combinations_keys" type="ns0:combinations_keys"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="combinations_keys">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="key1" nillable="true" type="xs:string"/>
                    <xs:element name="key2" nillable="true" type="xs:string"/>
                    <xs:element name="key3" nillable="true" type="xs:string"/>
                    <xs:element name="tab" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="select_all_direct_access_operation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="direct_accessCollection" type="ns0:direct_accessCollection"/>
            <xs:complexType name="direct_accessCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="direct_access" type="ns0:direct_access"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="direct_access">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="name" nillable="true" type="xs:string"/>
                    <xs:element name="description" nillable="true" type="xs:string"/>
                    <xs:element name="url" nillable="true" type="xs:string"/>
                    <xs:element name="position" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update_direct_access_params_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="value" nillable="true" type="xs:string"/>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update_field_config_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="app" nillable="true" type="xs:string"/>
                        <xs:element name="identifier" nillable="true" type="xs:string"/>
                        <xs:element name="description" nillable="true" type="xs:string"/>
                        <xs:element name="visible" nillable="true" type="xs:boolean"/>
                        <xs:element name="editable" nillable="true" type="xs:boolean"/>
                        <xs:element name="administrable" nillable="true" type="xs:boolean"/>
                        <xs:element name="position" nillable="true" type="xs:int"/>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_combinations_keys_operation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_users_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_direct_access_params_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_direct_access_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDirectAccessParams">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="direct_access_id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDirectAccessParamsResults" type="ns0:getDirectAccessParamsResults"/>
            <xs:complexType name="getDirectAccessParamsResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="getDirectAccessParamsResult" type="ns0:getDirectAccessParamsResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getDirectAccessParamsResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="name" nillable="true" type="xs:string"/>
                    <xs:element name="value" nillable="true" type="xs:string"/>
                    <xs:element name="direct_access" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="select_with_key_direct_access_params_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="direct_access_paramsCollection" type="ns0:direct_access_paramsCollection"/>
            <xs:complexType name="direct_access_paramsCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="direct_access_params" type="ns0:direct_access_params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="direct_access_params">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="name" nillable="true" type="xs:string"/>
                    <xs:element name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="insert_direct_access_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="description" nillable="true" type="xs:string"/>
                        <xs:element name="url" nillable="true" type="xs:string"/>
                        <xs:element name="position" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFieldConfig">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetFieldConfigResults" type="ns0:GetFieldConfigResults"/>
            <xs:complexType name="GetFieldConfigResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="GetFieldConfigResult" type="ns0:GetFieldConfigResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetFieldConfigResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="position" nillable="true" type="xs:integer"/>
                    <xs:element name="app" nillable="true" type="xs:string"/>
                    <xs:element name="identifier" nillable="true" type="xs:string"/>
                    <xs:element name="description" nillable="true" type="xs:string"/>
                    <xs:element name="visible" nillable="true" type="xs:boolean"/>
                    <xs:element name="editable" nillable="true" type="xs:boolean"/>
                    <xs:element name="administrable" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update_direct_access_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="description" nillable="true" type="xs:string"/>
                        <xs:element name="url" nillable="true" type="xs:string"/>
                        <xs:element name="position" nillable="true" type="xs:int"/>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCombinationsKeys">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCombinationsKeysResults" type="ns0:getCombinationsKeysResults"/>
            <xs:complexType name="getCombinationsKeysResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="getCombinationsKeysResult" type="ns0:getCombinationsKeysResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCombinationsKeysResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="key1" nillable="true" type="xs:string"/>
                    <xs:element name="key2" nillable="true" type="xs:string"/>
                    <xs:element name="key3" nillable="true" type="xs:string"/>
                    <xs:element name="tab" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="select_with_key_field_config_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="field_configCollection" type="ns0:field_configCollection"/>
            <xs:complexType name="field_configCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="field_config" type="ns0:field_config"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="field_config">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="app" nillable="true" type="xs:string"/>
                    <xs:element name="identifier" nillable="true" type="xs:string"/>
                    <xs:element name="description" nillable="true" type="xs:string"/>
                    <xs:element name="visible" nillable="true" type="xs:integer"/>
                    <xs:element name="editable" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="select_all_direct_access_params_operation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete_direct_access_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_combinations_keys_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key1" nillable="true" type="xs:string"/>
                        <xs:element name="key2" nillable="true" type="xs:string"/>
                        <xs:element name="key3" nillable="true" type="xs:string"/>
                        <xs:element name="tab" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_field_config_operation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_users_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user_id" nillable="true" type="xs:string"/>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="is_admin" nillable="true" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insert_direct_access_params_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" nillable="true" type="xs:string"/>
                        <xs:element name="value" nillable="true" type="xs:string"/>
                        <xs:element name="direct_access" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsers">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersResults" type="ns0:getUsersResults"/>
            <xs:complexType name="getUsersResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="getUsersResult" type="ns0:getUsersResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getUsersResult">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                    <xs:element name="user_id" nillable="true" type="xs:string"/>
                    <xs:element name="name" nillable="true" type="xs:string"/>
                    <xs:element name="is_admin" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="select_with_key_direct_access_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_direct_access_operation"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_direct_access_operationResponse">
        <wsdl:part name="parameters" element="ns0:direct_accessCollection"/>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns0:DataServiceFault"/>
    </wsdl:message>
    <wsdl:message name="select_all_direct_access_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_direct_access_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_direct_access_operationResponse">
        <wsdl:part name="parameters" element="ns0:direct_accessCollection"/>
    </wsdl:message>
    <wsdl:message name="update_direct_access_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_direct_access_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_field_config_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_field_config_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_field_config_operationResponse">
        <wsdl:part name="parameters" element="ns0:field_configCollection"/>
    </wsdl:message>
    <wsdl:message name="update_field_config_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_field_config_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_direct_access_params_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_direct_access_params_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_direct_access_params_operationResponse">
        <wsdl:part name="parameters" element="ns0:direct_access_paramsCollection"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_combinations_keys_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_combinations_keys_operation"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_combinations_keys_operationResponse">
        <wsdl:part name="parameters" element="ns0:combinations_keysCollection"/>
    </wsdl:message>
    <wsdl:message name="delete_field_config_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_field_config_operation"/>
    </wsdl:message>
    <wsdl:message name="update_combinations_keys_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_combinations_keys_operation"/>
    </wsdl:message>
    <wsdl:message name="insert_direct_access_params_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_direct_access_params_operation"/>
    </wsdl:message>
    <wsdl:message name="getUsersRequest">
        <wsdl:part name="parameters" element="ns0:getUsers"/>
    </wsdl:message>
    <wsdl:message name="getUsersResponse">
        <wsdl:part name="parameters" element="ns0:getUsersResults"/>
    </wsdl:message>
    <wsdl:message name="insert_users_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_users_operation"/>
    </wsdl:message>
    <wsdl:message name="getCombinationsKeysRequest">
        <wsdl:part name="parameters" element="ns0:getCombinationsKeys"/>
    </wsdl:message>
    <wsdl:message name="getCombinationsKeysResponse">
        <wsdl:part name="parameters" element="ns0:getCombinationsKeysResults"/>
    </wsdl:message>
    <wsdl:message name="insert_field_config_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_field_config_operation"/>
    </wsdl:message>
    <wsdl:message name="delete_direct_access_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_direct_access_operation"/>
    </wsdl:message>
    <wsdl:message name="delete_combinations_keys_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_combinations_keys_operation"/>
    </wsdl:message>
    <wsdl:message name="insert_direct_access_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_direct_access_operation"/>
    </wsdl:message>
    <wsdl:message name="getDirectAccessRequest">
        <wsdl:part name="parameters" element="ns0:getDirectAccess"/>
    </wsdl:message>
    <wsdl:message name="getDirectAccessResponse">
        <wsdl:part name="parameters" element="ns0:getDirectAccessResults"/>
    </wsdl:message>
    <wsdl:message name="update_direct_access_params_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_direct_access_params_operation"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_field_config_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_field_config_operation"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_field_config_operationResponse">
        <wsdl:part name="parameters" element="ns0:field_configCollection"/>
    </wsdl:message>
    <wsdl:message name="getFieldConfigRequest">
        <wsdl:part name="parameters" element="ns0:getFieldConfig"/>
    </wsdl:message>
    <wsdl:message name="getFieldConfigResponse">
        <wsdl:part name="parameters" element="ns0:GetFieldConfigResults"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_direct_access_params_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_direct_access_params_operation"/>
    </wsdl:message>
    <wsdl:message name="select_with_key_direct_access_params_operationResponse">
        <wsdl:part name="parameters" element="ns0:direct_access_paramsCollection"/>
    </wsdl:message>
    <wsdl:message name="delete_direct_access_params_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_direct_access_params_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_combinations_keys_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_combinations_keys_operation"/>
    </wsdl:message>
    <wsdl:message name="select_all_combinations_keys_operationResponse">
        <wsdl:part name="parameters" element="ns0:combinations_keysCollection"/>
    </wsdl:message>
    <wsdl:message name="getDirectAccessParamsRequest">
        <wsdl:part name="parameters" element="ns0:getDirectAccessParams"/>
    </wsdl:message>
    <wsdl:message name="getDirectAccessParamsResponse">
        <wsdl:part name="parameters" element="ns0:getDirectAccessParamsResults"/>
    </wsdl:message>
    <wsdl:message name="update_users_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_users_operation"/>
    </wsdl:message>
    <wsdl:message name="insert_combinations_keys_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_combinations_keys_operation"/>
    </wsdl:message>
    <wsdl:message name="delete_users_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_users_operation"/>
    </wsdl:message>
    <wsdl:message name="getFieldConfigByApp_operationRequest">
        <wsdl:part name="parameters" element="ns0:getFieldConfigByApp_operation"/>
    </wsdl:message>
    <wsdl:message name="getFieldConfigByApp_operationResponse">
        <wsdl:part name="parameters" element="ns0:getFieldConfigByAppResults"/>
    </wsdl:message>
    <wsdl:portType name="CCAGENT_ADMPortType">
        <wsdl:operation name="select_with_key_direct_access_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_with_key_direct_access_operationRequest" wsaw:Action="urn:select_with_key_direct_access_operation"/>
            <wsdl:output message="ns0:select_with_key_direct_access_operationResponse" wsaw:Action="urn:select_with_key_direct_access_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_direct_access_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_all_direct_access_operationRequest" wsaw:Action="urn:select_all_direct_access_operation"/>
            <wsdl:output message="ns0:select_all_direct_access_operationResponse" wsaw:Action="urn:select_all_direct_access_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_direct_access_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:update_direct_access_operationRequest" wsaw:Action="urn:update_direct_access_operation"/>
        </wsdl:operation>
        <wsdl:operation name="select_all_field_config_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_all_field_config_operationRequest" wsaw:Action="urn:select_all_field_config_operation"/>
            <wsdl:output message="ns0:select_all_field_config_operationResponse" wsaw:Action="urn:select_all_field_config_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_field_config_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="update_field_config_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:update_field_config_operationRequest" wsaw:Action="urn:update_field_config_operation"/>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_params_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_all_direct_access_params_operationRequest" wsaw:Action="urn:select_all_direct_access_params_operation"/>
            <wsdl:output message="ns0:select_all_direct_access_params_operationResponse" wsaw:Action="urn:select_all_direct_access_params_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_direct_access_params_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_combinations_keys_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_with_key_combinations_keys_operationRequest" wsaw:Action="urn:select_with_key_combinations_keys_operation"/>
            <wsdl:output message="ns0:select_with_key_combinations_keys_operationResponse" wsaw:Action="urn:select_with_key_combinations_keys_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_combinations_keys_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="delete_field_config_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:delete_field_config_operationRequest" wsaw:Action="urn:delete_field_config_operation"/>
        </wsdl:operation>
        <wsdl:operation name="update_combinations_keys_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:update_combinations_keys_operationRequest" wsaw:Action="urn:update_combinations_keys_operation"/>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_params_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_direct_access_params_operationRequest" wsaw:Action="urn:insert_direct_access_params_operation"/>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getUsersRequest" wsaw:Action="urn:getUsers"/>
            <wsdl:output message="ns0:getUsersResponse" wsaw:Action="urn:getUsersResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getUsersDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="insert_users_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_users_operationRequest" wsaw:Action="urn:insert_users_operation"/>
        </wsdl:operation>
        <wsdl:operation name="getCombinationsKeys">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getCombinationsKeysRequest" wsaw:Action="urn:getCombinationsKeys"/>
            <wsdl:output message="ns0:getCombinationsKeysResponse" wsaw:Action="urn:getCombinationsKeysResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getCombinationsKeysDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="insert_field_config_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_field_config_operationRequest" wsaw:Action="urn:insert_field_config_operation"/>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:delete_direct_access_operationRequest" wsaw:Action="urn:delete_direct_access_operation"/>
        </wsdl:operation>
        <wsdl:operation name="delete_combinations_keys_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:delete_combinations_keys_operationRequest" wsaw:Action="urn:delete_combinations_keys_operation"/>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_direct_access_operationRequest" wsaw:Action="urn:insert_direct_access_operation"/>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccess">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getDirectAccessRequest" wsaw:Action="urn:getDirectAccess"/>
            <wsdl:output message="ns0:getDirectAccessResponse" wsaw:Action="urn:getDirectAccessResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getDirectAccessDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_params_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:update_direct_access_params_operationRequest" wsaw:Action="urn:update_direct_access_params_operation"/>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_field_config_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_with_key_field_config_operationRequest" wsaw:Action="urn:select_with_key_field_config_operation"/>
            <wsdl:output message="ns0:select_with_key_field_config_operationResponse" wsaw:Action="urn:select_with_key_field_config_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_field_config_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfig">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getFieldConfigRequest" wsaw:Action="urn:getFieldConfig"/>
            <wsdl:output message="ns0:getFieldConfigResponse" wsaw:Action="urn:getFieldConfigResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getFieldConfigDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_direct_access_params_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_with_key_direct_access_params_operationRequest" wsaw:Action="urn:select_with_key_direct_access_params_operation"/>
            <wsdl:output message="ns0:select_with_key_direct_access_params_operationResponse" wsaw:Action="urn:select_with_key_direct_access_params_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_direct_access_params_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_params_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:delete_direct_access_params_operationRequest" wsaw:Action="urn:delete_direct_access_params_operation"/>
        </wsdl:operation>
        <wsdl:operation name="select_all_combinations_keys_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:select_all_combinations_keys_operationRequest" wsaw:Action="urn:select_all_combinations_keys_operation"/>
            <wsdl:output message="ns0:select_all_combinations_keys_operationResponse" wsaw:Action="urn:select_all_combinations_keys_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_combinations_keys_operationDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccessParams">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getDirectAccessParamsRequest" wsaw:Action="urn:getDirectAccessParams"/>
            <wsdl:output message="ns0:getDirectAccessParamsResponse" wsaw:Action="urn:getDirectAccessParamsResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getDirectAccessParamsDataServiceFault"/>
        </wsdl:operation>
        <wsdl:operation name="update_users_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:update_users_operationRequest" wsaw:Action="urn:update_users_operation"/>
        </wsdl:operation>
        <wsdl:operation name="insert_combinations_keys_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:insert_combinations_keys_operationRequest" wsaw:Action="urn:insert_combinations_keys_operation"/>
        </wsdl:operation>
        <wsdl:operation name="delete_users_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:delete_users_operationRequest" wsaw:Action="urn:delete_users_operation"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfigByApp_operation">
            <wsdl:documentation/>
            <wsdl:input message="ns0:getFieldConfigByApp_operationRequest" wsaw:Action="urn:getFieldConfigByApp_operation"/>
            <wsdl:output message="ns0:getFieldConfigByApp_operationResponse" wsaw:Action="urn:getFieldConfigByApp_operationResponse"/>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getFieldConfigByApp_operationDataServiceFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCAGENT_ADMSOAP11Binding" type="ns0:CCAGENT_ADMPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="select_with_key_direct_access_operation">
            <soap:operation soapAction="urn:select_with_key_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_operation">
            <soap:operation soapAction="urn:select_all_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_operation">
            <soap:operation soapAction="urn:update_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_field_config_operation">
            <soap:operation soapAction="urn:select_all_field_config_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_field_config_operation">
            <soap:operation soapAction="urn:update_field_config_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_params_operation">
            <soap:operation soapAction="urn:select_all_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_combinations_keys_operation">
            <soap:operation soapAction="urn:select_with_key_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_field_config_operation">
            <soap:operation soapAction="urn:delete_field_config_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_combinations_keys_operation">
            <soap:operation soapAction="urn:update_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_params_operation">
            <soap:operation soapAction="urn:insert_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <soap:operation soapAction="urn:getUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_users_operation">
            <soap:operation soapAction="urn:insert_users_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCombinationsKeys">
            <soap:operation soapAction="urn:getCombinationsKeys" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_field_config_operation">
            <soap:operation soapAction="urn:insert_field_config_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_operation">
            <soap:operation soapAction="urn:delete_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_combinations_keys_operation">
            <soap:operation soapAction="urn:delete_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_operation">
            <soap:operation soapAction="urn:insert_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccess">
            <soap:operation soapAction="urn:getDirectAccess" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_params_operation">
            <soap:operation soapAction="urn:update_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_field_config_operation">
            <soap:operation soapAction="urn:select_with_key_field_config_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfig">
            <soap:operation soapAction="urn:getFieldConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_direct_access_params_operation">
            <soap:operation soapAction="urn:select_with_key_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_params_operation">
            <soap:operation soapAction="urn:delete_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_combinations_keys_operation">
            <soap:operation soapAction="urn:select_all_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccessParams">
            <soap:operation soapAction="urn:getDirectAccessParams" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_users_operation">
            <soap:operation soapAction="urn:update_users_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_combinations_keys_operation">
            <soap:operation soapAction="urn:insert_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_users_operation">
            <soap:operation soapAction="urn:delete_users_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfigByApp_operation">
            <soap:operation soapAction="urn:getFieldConfigByApp_operation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CCAGENT_ADMSOAP12Binding" type="ns0:CCAGENT_ADMPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="select_with_key_direct_access_operation">
            <soap12:operation soapAction="urn:select_with_key_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_operation">
            <soap12:operation soapAction="urn:select_all_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_operation">
            <soap12:operation soapAction="urn:update_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_field_config_operation">
            <soap12:operation soapAction="urn:select_all_field_config_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_field_config_operation">
            <soap12:operation soapAction="urn:update_field_config_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_params_operation">
            <soap12:operation soapAction="urn:select_all_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_combinations_keys_operation">
            <soap12:operation soapAction="urn:select_with_key_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_field_config_operation">
            <soap12:operation soapAction="urn:delete_field_config_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_combinations_keys_operation">
            <soap12:operation soapAction="urn:update_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_params_operation">
            <soap12:operation soapAction="urn:insert_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <soap12:operation soapAction="urn:getUsers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_users_operation">
            <soap12:operation soapAction="urn:insert_users_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCombinationsKeys">
            <soap12:operation soapAction="urn:getCombinationsKeys" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="insert_field_config_operation">
            <soap12:operation soapAction="urn:insert_field_config_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_operation">
            <soap12:operation soapAction="urn:delete_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_combinations_keys_operation">
            <soap12:operation soapAction="urn:delete_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_operation">
            <soap12:operation soapAction="urn:insert_direct_access_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccess">
            <soap12:operation soapAction="urn:getDirectAccess" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_params_operation">
            <soap12:operation soapAction="urn:update_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_field_config_operation">
            <soap12:operation soapAction="urn:select_with_key_field_config_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfig">
            <soap12:operation soapAction="urn:getFieldConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_direct_access_params_operation">
            <soap12:operation soapAction="urn:select_with_key_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_params_operation">
            <soap12:operation soapAction="urn:delete_direct_access_params_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_combinations_keys_operation">
            <soap12:operation soapAction="urn:select_all_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccessParams">
            <soap12:operation soapAction="urn:getDirectAccessParams" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_users_operation">
            <soap12:operation soapAction="urn:update_users_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_combinations_keys_operation">
            <soap12:operation soapAction="urn:insert_combinations_keys_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_users_operation">
            <soap12:operation soapAction="urn:delete_users_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfigByApp_operation">
            <soap12:operation soapAction="urn:getFieldConfigByApp_operation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CCAGENT_ADMHttpBinding" type="ns0:CCAGENT_ADMPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="select_with_key_direct_access_operation">
            <http:operation location="select_with_key_direct_access_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_operation">
            <http:operation location="select_all_direct_access_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_operation">
            <http:operation location="update_direct_access_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_field_config_operation">
            <http:operation location="select_all_field_config_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_field_config_operation">
            <http:operation location="update_field_config_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_direct_access_params_operation">
            <http:operation location="select_all_direct_access_params_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_combinations_keys_operation">
            <http:operation location="select_with_key_combinations_keys_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_field_config_operation">
            <http:operation location="delete_field_config_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update_combinations_keys_operation">
            <http:operation location="update_combinations_keys_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_params_operation">
            <http:operation location="insert_direct_access_params_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <http:operation location="getUsers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert_users_operation">
            <http:operation location="insert_users_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCombinationsKeys">
            <http:operation location="getCombinationsKeys"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert_field_config_operation">
            <http:operation location="insert_field_config_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_operation">
            <http:operation location="delete_direct_access_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_combinations_keys_operation">
            <http:operation location="delete_combinations_keys_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_direct_access_operation">
            <http:operation location="insert_direct_access_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccess">
            <http:operation location="getDirectAccess"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_direct_access_params_operation">
            <http:operation location="update_direct_access_params_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_field_config_operation">
            <http:operation location="select_with_key_field_config_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfig">
            <http:operation location="getFieldConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_direct_access_params_operation">
            <http:operation location="select_with_key_direct_access_params_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_direct_access_params_operation">
            <http:operation location="delete_direct_access_params_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_combinations_keys_operation">
            <http:operation location="select_all_combinations_keys_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDirectAccessParams">
            <http:operation location="getDirectAccessParams"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_users_operation">
            <http:operation location="update_users_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insert_combinations_keys_operation">
            <http:operation location="insert_combinations_keys_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_users_operation">
            <http:operation location="delete_users_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getFieldConfigByApp_operation">
            <http:operation location="getFieldConfigByApp_operation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CCAGENT_ADM">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:CCAGENT_ADMSOAP11Binding">
            <soap:address location="http://10.2.144.63:9763/services/CCAGENT_ADM.SOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LOCALSOAP11Endpoint" binding="ns0:CCAGENT_ADMSOAP11Binding">
            <soap:address location="local:///services/CCAGENT_ADM.LOCALSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:CCAGENT_ADMSOAP11Binding">
            <soap:address location="https://10.2.144.63:9443/services/CCAGENT_ADM.SecureSOAP11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LOCALSOAP12Endpoint" binding="ns0:CCAGENT_ADMSOAP12Binding">
            <soap12:address location="local:///services/CCAGENT_ADM.LOCALSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:CCAGENT_ADMSOAP12Binding">
            <soap12:address location="https://10.2.144.63:9443/services/CCAGENT_ADM.SecureSOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:CCAGENT_ADMSOAP12Binding">
            <soap12:address location="http://10.2.144.63:9763/services/CCAGENT_ADM.SOAP12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:CCAGENT_ADMHttpBinding">
            <http:address location="http://10.2.144.63:9763/services/CCAGENT_ADM.HTTPEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:CCAGENT_ADMHttpBinding">
            <http:address location="https://10.2.144.63:9443/services/CCAGENT_ADM.SecureHTTPEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>